doctype html 
html
    head
        title This is my third app 
        link(rel="stylesheet", href="/css/style.css")
    body
        header
            nav
                ul
                    li
                        a(href="/") Home 
                    li
                        a(href="/about") About  
            block content
                  